.items-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.item-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    @media screen and (max-width: 720px) {
        flex-direction: column;
    }
}

.card-h5 {
    font-size: 1.2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
}

.arrow {
    color: purple;
    cursor: pointer;
}

.image {
    cursor: zoom-in;
}

.note {
    margin: 15px;
    background-color: #fffae6;
    border-left: 0.5em solid #e7e3d1;
}

.note:before {
    content: '💡';
    color: transparent;
    text-shadow: 0 0 0 rgb(214, 214, 51);
    margin-right: 0.25em;
    vertical-align: 0;
}

.price {
    font-size: 1.05em;
    color: rgb(83, 83, 27);
}